* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #093028;
  background: -webkit-linear-gradient(45deg, #093028, #237a57);
  background: -o-linear-gradient(45deg, #093028, #237a57);
  background: -moz-linear-gradient(45deg, #093028, #237a57);
  background: linear-gradient(45deg, #093028, #237a57);
}

.illustration {
  height: 300px;
  width: 300px;
}

.text-container {
  position: absolute;
  text-align: center;
  transform: translateY(-100px);
}

.not-found {
  margin: 1rem 0;
  color: white;
  font-size: 3rem;
  font-weight: normal;
}

.homepage {
  display: flex;
  align-items: center;
  color: lime;
  font-size: 1.5rem;
  justify-content: center;
}

.arrow {
  margin-right: 1rem;
  transition: transform 0.2s ease-in-out;
}

.homepage:hover .arrow {
  transform: translateX(10px);
}
